.form-group{
  width: 450px;
  margin-left: auto;
  margin-right: auto;
}

.form-group input, .form-group textarea{
  margin: 5px;
  width: 200px;
}

.form-group textarea{
  width: 350px;
  height: 200px;
}

